.mk-visible {
  visibility: visible
}

.mk-fixed {
  position: fixed
}

.mk-absolute {
  position: absolute
}

.mk-relative {
  position: relative
}

.mk-inset-x-0 {
  left: 0px;
  right: 0px
}

.mk-inset-y-0 {
  top: 0px;
  bottom: 0px
}

.mk-top-0 {
  top: 0px
}

.mk-left-0 {
  left: 0px
}

.mk-right-0 {
  right: 0px
}

.mk-bottom-0 {
  bottom: 0px
}

.mk-z-20 {
  z-index: 20
}

.mk-z-30 {
  z-index: 30
}

.mk-float-right {
  float: right
}

.mk-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mk-mt-10 {
  margin-top: 2.5rem
}

.mk-block {
  display: block
}

.mk-h-full {
  height: 100%
}

.mk-max-w-screen-lg {
  max-width: 1024px
}

.mk-overflow-auto {
  overflow: auto
}

.mk-rounded-xl {
  border-radius: 0.75rem
}

.mk-bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

.mk-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.mk-p-6 {
  padding: 1.5rem
}

.mk-p-3 {
  padding: 0.75rem
}

.mk-align-middle {
  vertical-align: middle
}

.mk-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.mk-opacity-75 {
  opacity: 0.75
}