*, ::before, ::after {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.mk-visible {
  visibility: visible
}

.mk-fixed {
  position: fixed
}

.mk-absolute {
  position: absolute
}

.mk-relative {
  position: relative
}

.mk-inset-x-0 {
  left: 0px;
  right: 0px
}

.mk-inset-y-0 {
  top: 0px;
  bottom: 0px
}

.mk-top-0 {
  top: 0px
}

.mk-left-0 {
  left: 0px
}

.mk-right-0 {
  right: 0px
}

.mk-top-10 {
  top: 2.5rem
}

.mk-bottom-10 {
  bottom: 2.5rem
}

.mk-left-10 {
  left: 2.5rem
}

.mk-right-10 {
  right: 2.5rem
}

.mk-z-20 {
  z-index: 20
}

.mk-z-30 {
  z-index: 30
}

.mk-col-span-1 {
  grid-column: span 1 / span 1
}

.mk-col-span-3 {
  grid-column: span 3 / span 3
}

.mk-float-right {
  float: right
}

.mk-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mk-mb-10 {
  margin-bottom: 2.5rem
}

.mk-mt-5 {
  margin-top: 1.25rem
}

.mk-mb-8 {
  margin-bottom: 2rem
}

.mk-mt-2 {
  margin-top: 0.5rem
}

.mk-mb-4 {
  margin-bottom: 1rem
}

.mk-mb-5 {
  margin-bottom: 1.25rem
}

.mk-mt-4 {
  margin-top: 1rem
}

.mk-mt-8 {
  margin-top: 2rem
}

.mk-block {
  display: block
}

.mk-grid {
  display: grid
}

.mk-h-full {
  height: 100%
}

.mk-h-72 {
  height: 18rem
}

.mk-max-w-screen-2xl {
  max-width: 1536px
}

.mk-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr))
}

.mk-divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.mk-divide-x-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(0px * var(--tw-divide-x-reverse));
  border-left-width: calc(0px * calc(1 - var(--tw-divide-x-reverse)))
}

.mk-divide-solid > :not([hidden]) ~ :not([hidden]) {
  border-style: solid
}

.mk-divide-gray-700 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-divide-opacity))
}

.mk-overflow-auto {
  overflow: auto
}

.mk-rounded-2xl {
  border-radius: 1rem
}

.mk-rounded-md {
  border-radius: 0.375rem
}

.mk-bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

.mk-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.mk-p-3 {
  padding: 0.75rem
}

.mk-align-middle {
  vertical-align: middle
}

.mk-font-body {
  font-family: Georgia, ui-serif, Cambria, Times New Roman, Times, serif
}

.mk-font-hdr {
  font-family: Arial, Helvetica
}

.mk-text-hdr {
  font-size: 1.625rem;
  line-height: 32px
}

.mk-text-body {
  font-size: 1rem
}

.mk-font-bold {
  font-weight: 700
}

.mk-italic {
  font-style: italic
}

.mk-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.mk-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.mk-opacity-75 {
  opacity: 0.75
}