<html>
  <meta charset="UTF-8">
  <title>preview: {{artistName}}</title>
  <link rel="stylesheet" href="../styles.css?v=1">
<body class="mk-bg-gray-600">

  <div class="md:mk-flex md:mk-items-center md:mk-justify-between">
    <div class="mk-flex-1 mk-min-w-0">
      <h2 class="mk-text-2xl mk-font-bold mk-leading-7 mk-text-gray sm:mk-text-3xl sm:mk-truncate">
        Biography Preview
      </h2>
    </div>
    <div class="mk-mt-4 flex md:mk-mt-0 md:ml-4">
      <button type="button" class="mk-inline-flex mk-items-center mk-px-4 mk-py-2 mk-border mk-border-transparent mk-rounded-md mk-shadow-sm mk-text-sm mk-font-medium mk-text-white mk-bg-gray-600 hover:mk-bg-gray-700 focus:mk-outline-none focus:mk-ring-2 focus:mk-ring-offset-2 focus:mk-ring-offset-gray-800 focus:mk-ring-indigo-500">
        <a href="../index.html">back</a>
      </button>
      <button type="button" class="mk-ml-3 mk-inline-flex mk-items-center mk-px-4 mk-py-2 mk-border mk-border-transparent mk-rounded-md mk-shadow-sm mk-text-sm mk-font-medium mk-text-white mk-bg-indigo-500 hover:mk-bg-indigo-600 focus:mk-outline-none focus:mk-ring-2 focus:mk-ring-offset-2 focus:mk-ring-offset-gray-800 focus:mk-ring-indigo-500">
        <a href="{{wikiUrl}}" target="_blank">wiki page</a>
      </button>
    </div>
  </div>

  <div class="mk-flex mk-flex-column mk-bg-white mk-w-screen mk-h-screen mk-flex mk-items-center mk-justify-center">
    <div class="mk-divide-solid">
      <h1>
        {{artistName}}
        {{#if this.images}}
          <img class="img-bio" src="{{this.images.[0]}}" />
        {{/if}}
      </h1>
    </div>

    {{#if error}}
      <div class="error">{{error}}</div>
    {{else}}


      {{#each bio}}
      <div>
        {{#if this.title}}
          <h2>{{this.title}}</h2>
        {{/if}}

        {{#each this.paragraphs}}
          <p>
            {{#if this.isQuote}}
           <blockquote>
            {{/if}}
            {{#each this.sentences}}
              {{textlayout this}}
            {{/each}}
          {{#if this.isQuote}}
          </blockquote>
          {{/if}}
          </p>

          {{#each this.lists}}
            <ul>
              {{#each this.items}}
                <li>{{textlayout this}}</li>
              {{/each}}
            </ul>
          {{/each}}
        {{/each}}
      </div>
    {{/each}}
    {{/if}}
    <div class="toolbar">
      <div class="left">wiki - preview</div><div class="right">version: {{version}}</div>
    </div>
  </div>
</body>
</html>
