<div class=" bg-white rounded-xl p-6">
  <div class="bio-segment">
    <div class="bio-paragraph">
      <div class="bio-info-extra"></div>
      <div class="flex bio-body justify-between">
        <div class="text-lg leading-6 font-medium text-gray-900">
          Nan Hoover
        </div>
        <div class="">
            <img class="rounded-md h-60 w-full" src="https://upload.wikimedia.org/wikipedia/commons/4/46/Nan-Hoover-Glasgow-2007.jpg" />
        </div>
      </div>
    </div>
  </div>
    <div class="bio-segment">
      <div id="bio-1" class="fold-out" style="height: auto">
          <div class="bio-paragraph">
            <div class="bio-info-extra">
            </div>
            <div class="">
                <span class="bold">Nan Hoover</span> (12 May 1931 – 9 June 2008) was a Dutch/American-expatriate artist who is known for her pioneering work in video art, photography and performance art.
                She spent almost four decades living and working in the Netherlands.
                She also used the mediums of drawing, painting, photography and film and created art objects and sculptures.
                One of the main themes of her art was light and motion.
                The rigorous, minimalist handling of her means as well as the intense concentration with which she performed within spaces of light and shadow are the most salient characteristics of her artistic work.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
            </div>
            <div class="">
                With her exploration of new media her artistic practice gained international recognition.
                Her performances and light installations were shown worldwide in museums, exhibition houses and in public spaces.
                In 1977 she participated in the documenta 6 and in 1987 the documenta 8 in Kassel.
                In 1984 Hoover participated in the Biennale di Venezia.
                She taught art at the San Francisco Art Institute in 1986, was professor for video and film at the Düsseldorf Art Academy from 1987 - 1997, taught mixed media at the Gerrit Rietveld Academy Amsterdam from 1998 – 1999, and held classes in video and performance at the International Summer Academy in Salzburg from 1994 - 1996 and in 2001.
            </div>
            <div class="bio-info-extra"></div>
          </div>
      </div>
    </div>
    <div class="bio-segment">
      <div class="bio-paragraph">
        <div class="bio-info-extra"></div>
        <div class="flex bio-body justify-between">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Life and work
          </div>
          <div class="" onclick="if (document.getElementById('bio-2').style.height === '0px') { document.getElementById('bio-2').style.height = 'auto'} else {document.getElementById('bio-2').style.height = '0px'}">
            <img class="float-right" src="arrow-down.png" >
          </div>
        </div>
      </div>
      <div id="bio-2" class="transition-transform ease-out overflow-hidden origin-top transform" style="height: 0px">
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1950 - 1955<br>
                2008<br>
            </div>
            <div class="">
                Hoover was born in Bay Shore, New York as Nancy Dodge Browne and died in Berlin June 9, 2008 as Nancy Hefty-Browne.
                Early on, Hoover was committed to becoming an artist.
                The choice between dance and the visual arts was decided in favour of painting and sculpture, mediums that allowed her an independent creative exploration.
                Studies at the Corcoran College of Art and Design in Washington D.C. from 1950 - 1955 were followed by exhibitions of her sculptures, paintings and drawings, first in Washington and later in New York City.
                Her earliest dated works used expressive strokes, concentrated on individual figures with minimal background information and were largely executed in earthen tones.
                Her interest in the human body and human psychology was too great to embrace an abstract expressionist style.
                Sometimes the figures would display physical abnormalities and/or be seen from unusual perspectives that indicated vulnerable socio-psychological or emotional states and thus contributed to the impression of being surreal.
                Isolated full figure studies and enigmatic relations between two or more figures predominate.
                She was also interested in the secrets of light.
                Her curiosity was enhanced through her visits to the Rembrandt van Rijn studies in oils in the Washington National Gallery of Art.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1954<br>
                1958<br>
            </div>
            <div class="">
                In 1954 she married Harold Hoover.
                Between 1954 and 1958 they had three children.
                During this time a few of her paintings vaguely reflect upon family topics such as mother and child or child and parents, but are not autobiographical in nature.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1962<br>
                1990<br>
            </div>
            <div class="">
                Hoover&#x27;s first trip to Europe was in 1962.
                During the six months she was there she stayed in Paris, where she did small paintings and drawings.
                She also visited Berlin and mentioned in her curriculum vita of 1990 how moved she was by the recently built dividing wall.
                She returned to New York City.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1969<br>
            </div>
            <div class="">
                In 1969 she visited Dutch friends in London and Amsterdam and decided, after having found a gallery in Amsterdam, to sublet her loft in New York and return to Amsterdam, the city with northern light and water, the city where Rembrandt lived and worked.
                She would often say that she fell in love with the city.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1960<br>
                1971<br>
                1973<br>
            </div>
            <div class="">
                By the end of the 1960s Hoover had reduced her figures to flat planes and contours before primary hues of red, blue and yellow.
                This was followed up by secondary colours and sexual, even aggressive poses.
                In 1971 she was introduced to Karel Appel, Dutch painter, sculptor and poet, who was looking for a caretaker for his Château Molesmes in France.
                Between 1971 and 1973 she would work at the château in France and commute to Amsterdam for exhibitions.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1973<br>
                1974<br>
            </div>
            <div class="">
                In 1973 she met the Dutch painter Richard Hefti.
                Through him she had access to a video camera and began in 1973 to experiment with it.
                In January 1974 she did her first street performance in Berlin.
                All her videos were produced in her studio before a fixed video camera and without post-editing.
                The closely cropped glimpses of the artist&#x27;s body and dark and light contrasts have a nuanced visual flow and intimacy.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1975<br>
                1976<br>
                1977<br>
                1978<br>
            </div>
            <div class="">
                In 1975 she and Richard Hefti married and she took on Dutch citizenship.
                In 1976 she made the acquaintance of Wies Smals, who opened the first multimedia space de Appel in Amsterdam.
                This alternative space rapidly became a lively centre of artistic exchange and provided Hoover with an invaluable support system.
                A measure of the international recognition of Hoover&#x27;s art occurred in 1977 when she participated in the documenta 6 in Kassel and had screenings of her videotapes at the Museum of Modern Art in New York City.
                She made her first colour videotape in 1978, &quot;Impressions&quot; (1978, colour, sound, 9&#x27;45&quot;). While it is a performance of the hand interacting with and at times intercepting a light beam, it also seems at one point to visualize &quot;writing with light&quot;, when the end of her index finger is positioned on the light beam.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1977 - 1979<br>
            </div>
            <div class="">
                That same year she teamed up with the artist Sam Schoenbaum and did a performance tour through New York, Los Angeles, Vancouver and Montreal.
                In 1979 she teamed up with Peter Ungerleider to do a tour called &quot;Lapses and Dissolves&quot; which was shown in Washington D.C., Boston and Montreal.
                She showed her super 8 film &quot;Lapses&quot; (1977 - 1979, a selection of short silent colour films, 16&#x27;).
                In her own words: &quot;These are short films about feelings of isolation.&quot;
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1974<br>
                1976<br>
                1977<br>
                1981<br>
            </div>
            <div class="">
                While video and performance coexisted in her work, and are closely accompanied by photography, certain technical and aesthetic decisions appeared successively.
                Performances as mentioned above began in 1974, the first video performance in 1976, the first light installation as a performance environment in 1977.
                Performance as the initiation of an interactive light environment and/or video installation originate, according to Hoover&#x27;s recollection, by chance after a light performance at the Kunstverein Heidelberg in 1981.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1979<br>
                1990<br>
            </div>
            <div class="">
                According to her 1990 curriculum vita Nan Hoover made her first video installation for her 1979 solo show at the Stedelijk Museum, Amsterdam, where she also showed a photo installation, performance photos, video tapes as well as giving an opening performance.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1974 - 2002<br>
                2009<br>
            </div>
            <div class="">
                1980 was to be a year of intense production for her, enabled by a DAAD grant to live and work in Berlin.
                In the same year her film <span class="italic">Fields of Blue</span> (c.1980) was exhibited at the Museum of Modern Art in New York City.
                The film displays three images of the artist appearing and disappearing into the picture frame.
                Of the several video tapes concerned with colour she made this year &quot;Color Pieces&quot; (1980, 9&#x27;51&quot;, according to EIA, 12&#x27;21&quot;, according to the Selected Work 1974 - 2002, Netherlands Media Art Institute, Amsterdam, 2009) is undoubtedly one of the most impressive.
                The film &quot;Doors&quot; was produced in this year, too.
                It is a pivotal work in that its symbolic, metaphoric and visual rendition of a simple action which is echoed in later works whether by photographic, performative or drawing means.
                A good example is the photograph &quot;Coming and Going&quot; (1980, colour photograph, 42 x 124 cm).
                The result of this important year for her was a travelling solo exhibition with catalogue (DAAD Gallery, Berlin, Neue Galerie Aachen, Stedelijk Museum, Schiedham and Künstlerhaus, Stuttgart).
                From 1981, Hoover often combined interactive light installations with performance (see a selection below).
                She would move slowly through her site, with specific light arrangements casting shadows onto the surfaces of the space and intercepting the bands of light that hidden light projectors with coloured cutout filters projected into the darkened spaces.
                These light installations would subsequently be open for the spectator/participant to explore.
                In an interview with Kate Elwers, Nan Hoover states: &quot;I find it important, especially in the performances, that I give the public the space to go into themselves. I&#x27;m not interested in dictating my ideas, I&#x27;m interested in opening up...&quot;
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1980<br>
            </div>
            <div class="">
                In the 1980s she would be represented at several video and performance festivals throughout the world, and by the mid eighties be included in group exhibitions of women artists.
                But she would always maintain that she was a painter, who from time to time would use different brushes.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1986<br>
                1988<br>
                1990<br>
            </div>
            <div class="">
                While teaching video and film at the Düsseldorf Art Academy and living in Düsseldorf, Hoover also produced some bronze sculptures and several series of large tactile charcoal drawings.
                It seems that her video tape &quot;Watching out - a Trilogy&quot; (1986, b/w, silent, 13&#x27;) in which she used a drawing of her own as background precipitated this.
                In 1990 she wrote about it as follows: &quot;(I) began to realize that I had a new vocabulary in light and movement that I could apply to drawing. (I) decided to concentrate on developing the drawings.&quot;
                This she did until 1988 when she again made a video tape &quot;Blue Mountains, Australia&quot; (1988, colour, sound, 6&#x27;).
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
            </div>
            <div class="">
                During a trip to Poland the following year, she again filmed outdoors with a hand-held camera and writes about it the following year.
                &quot;With this new tape I realized that I could adapt my thoughts about nature, nature&#x27;s energies, to the medium of video&quot;.
                The black patina bronzes that followed represent a facet of this new focus on nature: &quot;(I) have forms that resemble the earth, the earth thrust apart by an energy below, that is what I hope for from the sculptures.&quot;
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1983<br>
                1990<br>
                1992<br>
                2000<br>
            </div>
            <div class="">
                Her interest in international issues in the art world included her engagement in and commitment to the International Artists Forum, of which she was a President for a term.
                Her works in public places include a permanent light object commissioned by Dutch Artline/Kunstlijn.
                &quot;The Ls&quot; was installed in the Hardenberg Railway Station, the Netherlands (realization by Richard Hefti) in 1990.
                It was based on a light object she had made for an exhibition in Kiel in 1983.
                In 1992 Hoover created a permanent light installation for the Stadtstheater Zoetermeer that was commissioned by the Gemeente Zoetermeer, Netherlands.
                In the same year choreographer Lucinda Childs commissioned the artist to create lighting and costumes for the ballet <span class="italic">Naama</span> in Charleroi, Belgium.
                In 2000 she made a video-installation at the Wasser- und Schifffahrtsamt Eberswalde, Germany; and that same year a steel and neon light object &quot;U&quot; was installed in the foyer of the Münchener Kammerspiele, Munich, Germany.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1984<br>
                1985<br>
                1987<br>
                1990<br>
                1991<br>
                1993<br>
                1995<br>
                1997<br>
                2000<br>
                2002<br>
                2003<br>
            </div>
            <div class="">
                From the 1990s Nan Hoover staged spectacular indoor and outdoor light installations such as &quot;Die Spur des Lichtes&quot; at the Glyptothek in Munich, Germany, in 1991; &quot;in/out&quot; at the Institute for Artistic Research in Düsseldorf, Germany, in 1993; &quot;Movement from either direction&quot; in the Kunst- und Ausstellungshalle der Bundesrepublik Deutschland in Bonn, Germany, in 1995; and &quot;Movement in Light&quot; in front of the Museum Wiesbaden in Wiesbaden, Germany in 1997.
                After her retirement from teaching in Düsseldorf, Hoover returned to Amsterdam.
                Though her video work after 1987 became less frequent, she produced some pieces concerned with light phenomena in nature, such as water studies and water projections.
                These depart from the simulations of landscapes such as &quot;Returning to Fuji&quot; (1984, colour and sound, 16&#x27;43&quot;) and &quot;Desert&quot; (1985, colour, 12&#x27;35&quot;), which both address the recurring theme of perception in her artistic work.
                In her publication &quot;Night Letters&quot;, (Cologne, Salon Verlag, 2000) Hoover writes: &quot;it is not so important how we look at something but rather how we perceive this can be done in a second and last decades or a life time.&quot;
                Hoover also continued to make light installations: &quot;Art in Castles&quot; in Kasteel Huis Bergh in &#x27;s-Heerenberg, the Netherlands, in 1997, and &quot;Lichtrouten&quot; in Lüdenscheid, Germany, in 2002 and 2003.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                2005<br>
                2008<br>
            </div>
            <div class="">
                In 2005 Hoover moved to Berlin, where she continued to work, exhibit and lecture until her death in 2008.
            </div>
            <div class="bio-info-extra"></div>
          </div>
          <div class="bio-paragraph">
            <div class="bio-info-extra">
                1974 - 2002<br>
            </div>
            <div class="">
                Significant video works were chosen by Nan Hoover shortly before her death and were published the following year in a limited edition by the Nan Hoover Foundation with the generous support of the Netherlands Media Art Institute as &quot;Selected Works 1974 - 2002&quot;.
            </div>
            <div class="bio-info-extra"></div>
          </div>
      </div>
    </div>
    <div class="bio-segment">
      <div class="bio-paragraph">
        <div class="bio-info-extra"></div>
        <div class="flex bio-body justify-between">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Exhibitions
          </div>
          <div class="" onclick="if (document.getElementById('bio-3').style.height === '0px') { document.getElementById('bio-3').style.height = 'auto'} else {document.getElementById('bio-3').style.height = '0px'}">
            <img class="float-right" src="arrow-down.png" >
          </div>
        </div>
      </div>
      <div id="bio-3" class="fold-out" style="height: 0px">
          <div class="bio-paragraph">
            <div class="bio-info-extra">
            </div>
            <div class="">
                Nan Hoover&#x27;s works were exhibited in many countries across the world, among them are the Museum of Modern Art, New York, US, the Stedelijk Museum in Amsterdam, NL, the Art Museum Berne, CH, the New Picture Gallery in Munich, DE, the Art and Exhibition Hall of Federal Republic of DE in Bonn, DE, the Art House in Zurich, CH, in the Museum Wiesbaden, DE, the Art Hall Darmstadt, DE, Museum of Contemporary Art Zagreb, HR, Museum Folkwang in Essen, DE, Museum for Contemporary Art in Basel, CH, Osaka Contemporary Art Center in Osaka, JP, The Spring Gallery, Taipei, TW, Kettle&#x27;s Yard, Cambridge, UK, Musée d&#x27;Art Contemporain, Montreal, CA, Long Beach Museum of Art, California, US, Art Metropole, Toronto, CA, De Appel, Amsterdam, NL.
            </div>
            <div class="bio-info-extra"></div>
          </div>
      </div>
    </div>
    <div class="bio-segment">
      <div class="bio-paragraph">
        <div class="bio-info-extra"></div>
        <div class="flex bio-body justify-between">
          <div class="text-lg leading-6 font-medium text-gray-900">
            Public collections
          </div>
          <div class="" onclick="if (document.getElementById('bio-5').style.height === '0px') { document.getElementById('bio-5').style.height = 'auto'} else {document.getElementById('bio-5').style.height = '0px'}">
            <img class="float-right" src="arrow-down.png" >
          </div>
        </div>
      </div>
      <div id="bio-5" class="fold-out" style="height: 0px">
          <div class="bio-paragraph">
            <div class="bio-info-extra">
            </div>
            <div class="">
                Hoover&#x27;s works can be found in public institutions, including:
              <ul>
                <li>Museum of Modern Art</li>
                <li>Stedelijk Museum Amsterdam,</li>
                <li>Castle of Rivoli</li>
              </ul>
            </div>
            <div class="bio-info-extra"></div>
          </div>
      </div>
    </div>
  <!-- end of merge -->
  <p>The last line</p>
</div>
<div class="relative bg-gray-900 text-white p-3" id="dia-footer">
  This is the footer
</div>
