<html>
  <meta charset="UTF-8">
  <title>preview: {{artistName}}</title>
  <link rel="stylesheet" href="style.css">
<body>
  <div class="toolbar">
    <div class="left"><a href="index.html">back</a></div>
    <div class="right"><a href="{{wikiUrl}}" target="_blank">wiki page</a></div>
  </div>
  <h1>{{artistName}}</h1>
  {{#each bio}}
  <div>
    {{#if this.title}}
      <h2>{{this.title}}</h2>
    {{/if}}
    {{#each this.paragraphs}}
      <p>
        {{#each this.sentences}}
          {{textlayout this}}
        {{/each}}
      </p>

      {{#each this.lists}}
        <ul>
          {{#each this.items}}
            <li>{{textlayout this}}</li>
          {{/each}}
        </ul>
      {{/each}}
    {{/each}}
  </div>
  {{/each}}
  <div class="toolbar">
    <div class="right">version: {{version}}</div>
  </div>
</body>
</html>
