<html>
  <meta charset="UTF-8">
  <title>preview: {{artistName}}</title>
  <link rel="stylesheet" href="style.css">
<body>
  <div class="toolbar">
    <div class="left"><a href="index.html">back</a></div>
    <div class="right"><a href="{{wikiUrl}}" target="_blank">wiki page</a></div>
  </div>
  <h1>{{artistName}}</h1>

  {{#if error}}
    <div class="error">{{error}}</div>
  {{else}}

  {{#if this.images}}
    <img class="img-bio" src="{{this.images.[0]}}" />
  {{/if}}

    {{#each bio}}
    <div>
      {{#if this.title}}
        <h2>{{this.title}}</h2>
      {{/if}}

      {{#each this.paragraphs}}
        <p>
          {{#if this.isQuote}}
         <blockquote>
          {{/if}}
          {{#each this.sentences}}
            {{textlayout this}}
          {{/each}}
        {{#if this.isQuote}}
        </blockquote>
        {{/if}}
        </p>

        {{#each this.lists}}
          <ul>
            {{#each this.items}}
              <li>{{textlayout this}}</li>
            {{/each}}
          </ul>
        {{/each}}
      {{/each}}
    </div>
  {{/each}}
  {{/if}}
  <div class="toolbar">
    <div class="left">wiki - preview</div><div class="right">version: {{version}}</div>
  </div>
</body>
</html>
