<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css?v=1">
  </head>
  <body class="bg-gray-600">

    <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
      <div class="text-lg leading-6 font-medium text-gray-900">
        Job Postings
      </div>
      <div class="mt-3 sm:mt-0 sm:ml-4">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Create new job
        </button>
      </div>
    </div>

    <div class="bio-segment">
      <div class="bio-header">
          <div class="ml-24 flex justify-between">
            <div class="text-lg leading-6 font-medium text-gray-900">
              Life and work
            </div>
            <div class="flex ml-0">
              <img class="float-right" src="arrow-down.png" >
            </div>
          </div>

      </div>
      <div class="bio-body">
        <div class="bio-paragraph">
          <div class="bio-info-extra">Years</div>
          <div class="flex-grow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget efficitur velit. Suspendisse dui urna, venenatis ac urna aliquet, pulvinar ultrices orci. Phasellus finibus finibus nunc, sed dapibus risus vestibulum a. Suspendisse ac erat facilisis, eleifend magna eget, feugiat ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec suscipit consectetur diam nec lacinia. Etiam vulputate, ipsum quis ornare rhoncus, enim odio tempor velit, vel euismod mi mauris sit amet est. Sed quis sapien vulputate, posuere erat eu, aliquet turpis. Suspendisse tempus at turpis in ullamcorper. Nam sit amet posuere orci. Praesent aliquet enim magna, quis bibendum massa auctor sed. Etiam fringilla maximus diam, a convallis tellus fermentum et. Mauris consequat, ante ut varius auctor, tortor libero tempus quam, ac varius mauris ex at enim. Morbi elementum dui neque, vel porta lectus euismod ut.</div>
        </div>
        <div class="bio-paragraph">
          <div class="bio-info-extra">Years</div>
          <div class="flex flex-column">Nullam eget viverra dui. Vestibulum in neque pellentesque, gravida orci non, placerat quam. Suspendisse massa sem, ornare sit amet imperdiet eu, semper sit amet mi. Nulla et ligula fermentum, posuere diam sed, tincidunt leo. Sed accumsan consequat velit et accumsan. Aenean non aliquet tortor. Maecenas blandit euismod tortor, quis volutpat turpis luctus ac. Mauris massa velit, ultricies congue odio non, efficitur commodo enim. Nunc maximus, diam dictum accumsan posuere, nunc odio consequat turpis, ut tempor ligula lacus ac quam. Nam at erat elementum, feugiat libero eu, tincidunt tellus. Duis placerat faucibus eros, non sagittis lacus feugiat a. Vivamus aliquet porta odio, ac hendrerit massa dictum nec. Cras sit amet turpis ac tortor pretium luctus eu ac felis. Maecenas maximus facilisis est sed elementum. Donec eu efficitur nisl. Aenean eget diam imperdiet, volutpat ante ut, placerat ante.</div>
        </div>
      </div>
    </div>

  </body>


</html>
